[buildout]

# use this extend one of the buildout configuration:
extends =
# -*- mrbob: extra extends -*-
#    test_plone43.cfg
#    test_plone50.cfg
#    test_plone51.cfg
#    test_plone52.cfg
    test_plone60.cfg

auto-checkout +=
    collective.taskqueue2

[instance]
environment-vars +=
    HUEY_TASKQUEUE_URL memory://
    HUEY_LOG_LEVEL DEBUG
    HUEY_CONSUMER 1


zcml-additional =
  <configure xmlns="http://namespaces.zope.org/zope"
             xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="*"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header,Origin"
    max_age="3600"
    />
  </configure>


[sources]
collective.taskqueue2 = git https://github.com/collective/collective.taskqueue2
